body {
  background-color: #F1F1F1;
}

.form {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
}

.resume {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.divider {
  background-color: black;
  height: .5px;
}

.skill-item {
  padding-left: 4px;
}

.exp-p {
  margin-bottom: 8;
}

.spacer {
  width: 1px;
  height: 20px;
  background-color: rgb(62, 62, 62);
}

.title {
  margin-bottom: 3px;
}

.header {
  background-color: #1D2123;
  color: white;
}

.header p {
  margin-bottom: 0;
  color: white;
  font-size: smaller;
}

@media (max-width: 900px) {
  .header p {
    display: none;
  }
}

.header div {
  border: 2px solid #A2AE8C;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}

.active {
  background-color: #A2AE8C;
  color: black !important
}

.btn-primary {
  background-color: #1D2123;
  border: none;
}

.btn-primary:hover {
  background-color: #59646a;
  border: none;
}

.btn-save {
  color:  #6B9322;
}

.btn-delete {
  color: black
}

.btn-add {
  background-color: #A2AE8c;
}

.drawer-close {
  background-color: white;
  padding: 24px 32px;
  border-radius: 8px;
  display: flex;
  gap: 16px;
}

.drawer-close h5 {
  margin-bottom: 0;
}